form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}
 label{
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
     color: white;
     padding: 10px;

 }
 input [type="text"],
 input [type="number"],
 input [type="file"],
 input [type="submit"] ,
 input [type="reset"],
 select {
     width: 100%;
     padding: 10px;
     margin-bottom:5px ;
     border-radius: 4px;
 }
   input[type="submit"]{
       background-color: blue;
   }
 input[type="reset"]{
     background-color: red;
 }